.mutil-step-container {
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &-item {
    transition-property: opacity, transform;
    box-sizing: border-box;
    transition-timing-function: var(--fds-soft);
    transition-duration: var(--fds-fast);
    opacity: 0;
    transform-origin: inherit;
    pointer-events: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
